.topnav {
    overflow: hidden;
    background-color:white;
  }
  
  .topnav a {
    float: left;
    color: black;
    text-align: center;
    /* padding: 14px 16px;
    text-decoration: none;
    font-size: 17px; */
  }
  

  
  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }
  
  .topnav-right {
    float: right;
  }

  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #303A5C;
    margin: 5px 0;
    margin-left: 20px;
    transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.rightNavItems{
  margin-left: 10px;
  margin-right: 10px;
}